footer{
    background-color: #DDE1E6;
    color: #27381E;
    min-height: 100px;
    position: relative;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px;
    font-size: x-small;
}
  
